body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(assets/background_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;;
    z-index: -1;
    font-family: 'Jost', sans-serif;
}

.section{
    height: 100vh;
    margin-left: 150px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;

}
a{
    text-decoration: none;
    color: white;;
    
}
.links{
    display: flex;
    gap: 20px;
}

.nav img{
    width: 85px;
}

#facebookIcon{
    width: 30px;
}
#KmWorkzLogo{
    width: 300px;
    margin-bottom: 0;
    margin-left: -50px;
}
#title{
    font-size: 40px;
    margin: 0;
}
.description{
    margin-top: 15px;
    font-size: 30px;
    width: 400px;
    font-weight: 500;
    line-height: 45px;
}
#content{
    height: 100vh;
}
.container{
    display: flex;
    gap: 20px;
}
.buttons{
    border-radius: 2rem;
    border: 1px;
    padding: 14px 40px;
    font-size: 18px;    
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
#contacts{
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
