

*{
font-family:"Monaco", monospace;
}


.navtabs ul {
    list-style-type: none;
    background-color:black ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    position: relative;
    bottom: 100px;
    left: 800px;  
}

.navtabs a {
    color: white;
    display: flex;
    text-align: center; 
    padding: 15px;
    text-decoration: none;
    font-size: 20px;

}
.navtabs li {
    float: left;
}

body{   
background-image: url(assets/background_hero.png);
background-repeat: no-repeat;
background-size: contain;
}

ul li{
    list-style:none;
    
}

#hero img {
    position: relative;
    bottom: 80px;
    left: 50px;
   
}
#hero h1 {
    color: white;
    text-align: left;
    font-size: 30px;
    position: relative;
    bottom: 100px;
} 
#hero p {
    color: white;
    text-align: left;
    font-size: 30px;
    position: relative;
    bottom: 100px;
    text-wrap: balance;
  
} 

#services_button {
    position: relative;
    bottom: 100px;
    left: 50px;
    width: 150px;
    height:50px;
    color: black;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;

}

#contacts_button {
    position: relative;
    bottom: 100px;
    left: 50px;
    width: 150px;
    height:50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    font-size: 20px;

}






